/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html, body { 
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.mat-typography h1, 
.mat-typography h2, 
.mat-typography h3, 
.mat-typography h4, 
.mat-typography h5, 
.mat-typography h6 {
  margin: 0;
}
